{# THIS IS VERY SPECIFIC #}

{% if mode and versions %}
<h3>Other Formats</h3>
<ul>
    {% if mode == "singlehtml" %}
    <li><a href="{{ vpathto('master')}}/../../../master">Multi Page Version</a></li>
    {% endif %}

    {% if mode == "html" %}
    <li><a href="{{ vpathto('master') }}/../../_single/master">Single Page Version</a></li>
    {% endif %}
</ul>
{% endif %}
